asgiref==3.4.1
django==4.0
sqlparse==0.4.2
tzdata==2021.5
Automat==20.2.0
attrs==21.2.0
autobahn==21.11.1
cffi==1.15.0
channels==3.0.4
constantly==15.1.0
cryptography==36.0.0
daphne==3.0.2
hyperlink==21.0.0
idna==3.3
incremental==21.3.0
pyasn1==0.4.8
pyasn1-modules==0.2.8
pycparser==2.21
pyopenssl==21.0.0
service-identity==21.1.0
six==1.16.0
twisted==21.7.0
twisted-iocpsupport==1.0.2
txaio==21.2.1
typing-extensions==4.0.1
zope.interface==5.4.0
